@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

@layer base {
  /*noinspection ALL*/
  @font-face {
    font-family: 'CircularStd-Bold';
    src: url(/fonts/CircularStd-Bold.woff2) format('woff2');
  }
  /*noinspection ALL*/
  @font-face {
    font-family: 'CircularStd-Medium';
    src: url(/fonts/CircularStd-Medium.woff2) format('woff2');
  }
  /*noinspection ALL*/
  @font-face {
    font-family: 'CircularStd-Book';
    src: url(/fonts/CircularStd-Book.woff2) format('woff2');
  }
}
